<div class="bg-black text-white bg-[linear-gradient(to_bottom,#000,#200D42_34%,#4F21A1_65%,#A46EDB_82%)] py-20 sm:py-32 relative overflow-clip">
    <div class="container mx-auto ">
       <div class="flex justify-center items-center">
         <a href="" class="border py-1 px-2 border-white/30 rounded-lg gap-4 inline-flex">
            <span class=" bg-[linear-gradient(to_right,#F87AFF,#FB93D0,#FFDD99,#C3F0B2,#2FD8FE)] text-transparent bg-clip-text [-webkit-background-clip:text]">Version 2.0 is here</span>
            <span class="flex gap-2">Read More  
                 <div class="pt-[1.8px]"> <i class="fa-solid fa-arrow-right"></i></div>
            </span>
          
        </a>
       </div>
      <div class="flex justify-center">
         <div class=" inline-flex justify-center relative   ">
        <h1 class="text-7xl sm:text-9xl  font-bold text-center mt-8 tracking-tighter select-none" appDragElement> One Task <br> at a Time </h1>
          <img src="./assets/images/cursor.png" alt="" class="absolute left-[-160px] top-36 w-[200px] h-[200px] hidden md:inline-block " appDragElement>
         <img src="./assets/images/message.png" alt="" class="absolute right-[-190px] top-24 w-[200px] h-[200px] hidden md:inline-block" appDragElement>
       </div>
      </div>
         <div class="flex justify-center">
                    <p class="text-center text-xl max-w-md mt-8">Celebrate the joy of accomplishment with an app designed to track progress, motivate your efforts, and
            celebrate your successes.</p>
         </div>
       
    </div>
    <div class="flex justify-center z-20 relative  text-black mt-8 font-medium  ">
            <button class="w-fit bg-white px-5 py-3  rounded-lg " >Get For Free</button>

    </div>
    <div class="absolute  h-[375px] w-[750px] sm:w-[1536px] sm:h-[768px] lg:w-[2400px] lg:h-[1200px] rounded-[100%] bg-black left-1/2 -translate-x-1/2 border-[#B48CDE] bg-[radial-gradient(closest-side,#000_82%,#9560EB)] top-[calc(100%-100px)] sm:top-[calc(100%-150px)]"></div>
</div>