<div class="bg-black text-white py-20 sm:py-34">
    <div class="container mx-auto">

<h2 class=" text-center text-lg  text-white/60">Trusted by the world's most innovation teams</h2>
<div class="  flex items-center overflow-hidden  w-full py-8 before:content-[''] after:content-[''] before:absolute after:absolute before:h-full after:h-full before:w-20 after:w-20 relative  before:left-0 after:right-0 before:bg-[linear-gradient(to_right,#000,rgb(0,0,0,0))] before:z-10  after:bg-[linear-gradient(to_left,#000,rgb(0,0,0,0))]  animate-scroll ">
<div class="imgS flex items-center gap-32 translate-x-[100%]">
        @for (img of imges ; track $index) {
    <img class="w-f h-8 opacity-60 hover:opacity-100 transition ease-linear"  [src]="img.src" [alt]="img.alt">

}
</div>
</div>
    </div>
</div>