<div class="bg-black text-white  py-12 sm:py-36 bg-gradient-to-b from-black to-[#5D2CAB]">
    <div class="container  mx-auto">

        <h2 class="text-center text-4xl sm:text-6xl font-bold tracking-tighter">Intuitive interface</h2>
        <p class="text-sm sm:text-xl text-center text-white/70 mt-5">celebrate the joy of accomplishhment with an app designed to track your progress , motivate your efforts , and celebrate your successes , one task at a time .</p>
        <div class="flex justify-center  px-4">
            <img src="./assets/images/app-screen.png"  alt="app-screen" class="mt-14" > 
        </div>
    </div>
</div>